<footer class="page-footer font-small claro pt-4">
<div class="container">

    <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
            <h4 class="text-white">Siga-nos nas redes sociais</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
            <ul class="social-network">
                <li>
                    <a href="https://github.com/ViniciusRob" target="_blank" class="icoGit"><i class="fa fa-github" aria-hidden="true"></i></a>
                </li>

                <li>
                    <a href="https://www.linkedin.com/in/vin%C3%ADcius-roberto-7738411a2/" target="_blank" class="icoLink"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
                </li>

                <li>
                    <a href="https://www.instagram.com/dylstomh_/" target="_blank" class="icoInsta"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                </li>
            </ul>
        </div>
    </div>

</div>
<div class="footer-copyright escuro text-center py-3">
<span class="text-light">© 2021 Copyright: Vinícius Roberto</span>
</div>
</footer>